body {
  color: #333;
  font: normal 16px Arial, Helvetica, sans-serif;
  background-color: #e0e0e0;
  margin: 0;
  line-height: 1.6em;
}
#mainHeader {
  text-align: center;
  background-color: #222;
  color: white;
  padding: 10px;
}
#mainFooter {
  text-align: center;
  font-size: 18px;
  background-color: #222;
  color: white;
  padding: 10px;
}
